[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/vim-session"]
	path = vimfiles/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
